SECRET_KEY=changeme
SQLALCHEMY_DATABASE_URL=mysql+pymysql://user:password@localhost/db_name
ACCESS_TOKEN_EXPIRE_MINUTES=30
ALGORITHM=HS256
PROJECT_NAME=TeachTrack
API_V1_STR=/api/v1

# Google OAuth
GOOGLE_CLIENT_ID=your-google-client-id

# Mail
MAIL_USERNAME=your-email@example.com
MAIL_PASSWORD=your-email-password
MAIL_FROM=your-email@example.com
MAIL_PORT=587
MAIL_SERVER=smtp.gmail.com
MAIL_STARTTLS=True
MAIL_SSL_TLS=False

#CAMERA
SERVER_CAMERA_ENABLED=true
SERVER_CAMERA_PREVIEW=true
SERVER_CAMERA_INDEX=1

